<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="studio.elnino.com.cameditor">

    <!-- This is required for Picasso to work. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="studio.elnino.com.cameditor.CamApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        >

        <activity
            android:name=".CamActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".HomeMenuActivity"
            android:screenOrientation="portrait"/>

        <!--
            Required by the CreativeSDKImage
            The "android:authorities" property MUST follow the following rule:
                {your_app_package_name}.AviaryCdsProvider
        -->
        <provider
            android:name="com.aviary.android.feather.sdk.internal.cds.AviaryCdsProvider"
            android:authorities="com.aviary.android.sample.AviaryCdsProvider"
            android:exported="false"
            android:process=":aviarycds" />


    </application>
</manifest>